*{
    font-size: 16px;
}
.jumbotron{
    background-color: blanchedalmond;
    
}
.navbar{
    background-color: crimson;
    
    
}
body{
    background-color: rgba(255, 235, 205, 0.445);
}
.kezdolapBemutatkozas{
    text-align: center;
    margin: 1px;
    
}
span{
    color: white;
}
.content{
    font-size: 24px;
}
